
<div class="content-box">
    <h2>@ViewBag.Header</h2>
    <h3>@ViewBag.Message</h3>
</div>

@section scripts {
    <script type="text/javascript">
        $.backstretch("@Url.Content("~/Content/img/errpr-background.jpg")", {
            speed: 500
        });
    </script>
}