
<div class="content-box">
    <h2>@ViewBag.Header</h2>
    <h3>@ViewBag.Message</h3>
    <div class="flex-container center">
        @Html.Raw(ViewBag.Html)
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $.backstretch("@Url.Content("~/Content/img/info-background.png")", {
            speed: 500
        });
    </script>
}