@using DeneirsGate.Services
@model List<ActivityLogViewModel>

@foreach (var log in Model)
{
    <div class="log-record">
        <label class="red">@HtmlHelpers.RenderDate(log.LogDate)</label>
        <p class="log-description">@log.LogDescription</p>
    </div>
}