@using DeneirsGate.Services
@model TrapViewModel

<h2 class="text-center">@Model.Name</h2>
<div class="flexbox-container full-width">
    <label class="text-large"><b>@Model.Nature</b></label>
    <label class="text-large"><b>@Model.Type</b></label>
</div>
<hr />
<div style="margin:1em">
    <label class="text-large text-bold red">Description</label>
    <p class="text-md">@Model.Description</p>
</div>