$red: #ce0606;
$redHover: #a90404;
$lightRed: #ed5565;
$gray: #797979;
$darkgray: #2f323a;
$red80: rgba(206, 6, 6, 0.80);
$red60: rgba(206, 6, 6, 0.60);
$white: #fcfcfc;
$black40: rgba(0, 0, 0, 0.40);
$transparent: rgba(0, 0, 0, 0.00);

.fancy-textbox {
    position: relative;
    margin-bottom: 25px;
}

.fancy-textbox label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: $gray;
    pointer-event: none;
    transition: all 0.5s ease-in-out;
}

.fancy-textbox input {
    border: 0;
    border-bottom: 1px solid $gray;
    background: transparent;
    width: 100%;
    padding-top: 8px;
    font-size: inherit;
    color: $gray;
}

.fancy-textbox input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid $red;
}

.fancy-textbox input:focus ~ label,
.fancy-textbox input:valid ~ label {
    outline: 0;
    top: -12px;
    font-size: 12px;
    color: $red;
}

.fancy-textbox.sm input,
.fancy-textbox.sm label {
    font-size: 12px;
}

.fancy-textbox.md input,
.fancy-textbox.md label {
    font-size: 16px;
}

.fancy-textbox.lg input,
.fancy-textbox.lg label {
    font-size: 1.5vw;
}
.fancy-textbox.lg label {
    top: 10px;
}


.fancy-textbox.xlg input,
.fancy-textbox.xlg label {
    font-size: 48px;
}
.fancy-textbox.xlg label {
    top: 25px;
}

.fancy-textbox.short {
    max-width: 10%;
}

.fancy-textbox.medium {
    max-width: 40%;
    width: 100px
}

.fancy-textbox.long {
    max-width: 90%;
}

.fancy-textbox.full {
    max-width: 100%;

    input {
        max-width: 100%;
    }
}

.fancy-textbox.center input {
    text-align: center;
}




/* Text Area */
.fancy-textarea {
    textarea {
        border-color: $gray !important;
        color: $gray !important;
        resize: none;
        max-width: 100% !important;
    }

    label {
        color: $gray;
    }

    textarea:focus {
        border-color: $red80 !important;
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px $red60 !important;
        outline: 0 none !important;
    }

    label.active {
        color: $red;
    }
}

.fancy-textarea.lg {
    textarea {
        font-size: large;
    }
}

.fancy-textbox.full {
    max-width: 100%;

    textarea {
        max-width: 100%;
    }
}



/* Dropdown */
.fancy-dropdown {
    select {
        border-color: $gray !important;
        color: $gray !important;
    }

    label {
        color: $gray;
    }

    select:focus {
        border-color: $red80 !important;
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px $red60 !important;
        outline: 0 none !important;
    }

    label.active {
        color: $red;
    }
}


/* IMAGES */
.upload-image, .fancy-portrait {
    border-radius: 50%;
    position: relative;
    border: 5px solid $white;
    box-shadow: 5px 10px 18px $gray;

    img {
        border-radius: 50%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: none;
        color: $white;
    }

    
}

.fancy-portrait:hover {
    cursor: pointer;
}

.upload-image:hover .overlay {
    cursor: pointer;
    display: block;
    background: linear-gradient($transparent, $black40);
}



/* NAV TABS */
.fancy-tabs {
    background-color: $darkgray !important;
    display: flex;
    justify-content: center;

    .fancy-tab-item {
        margin: 0em 5px;
        border: none;
        background: none;
        color: #fff;
        padding: 10px 15px;
        font-size: medium;
        cursor: pointer;
    }

    .fancy-tab-item:hover, .fancy-tab-item.active {
        background-color: $red !important;
        border: none;
        box-shadow: 2px 0px 4px #000;
    }
}

.fancy-tab-pane {
    display: none;
}

.fancy-tab-pane.active {
    display: block !important;
}

.fancy-tab-pane.slide-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}