.red {
    color: $red;
}

.white {
    color: $white;
}

.background-red {
    background-color: $red;
}

h2 {
    font-weight: bold;
    color: $red;
}

a {
    font-size: medium;
    font-weight: bold;
    color: $red;
    cursor: pointer;

    &:hover {
        color: $redHover;
    }
}

.ck-editor .ck-editor__editable {
    min-height: 200px;
    height: 500px;
    max-height: 600px;
    color: #000;
    resize: vertical;
}

.template {
    display: none;
}

.handle {
    padding-right: 0.5em;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.dropdown-menu.dropdown-right {
    left: 0%;
    right: auto;
    transform: translateX(-75%)
}

.btn-suggestion {
    position: absolute;
    top: 2px;
    right: 2px;

    &.btn-suggestion-textarea {
        top: 30px !important;
        right: 6px !important;
    }

    &.btn-suggestion-editor {
        top: 5px !important;
        right: 6px !important;
        z-index: 100;
    }
}

.transparent {
    background-color: rgba(255,255,255,0.75) !important;
}

.scrollable {
    overflow-y: scroll;
}