body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.img-xs {
    max-height: 100px;
}

.img-sm {
    max-height: 250px;
}

.profile-picture-modal {
    max-height: 500px;
    overflow-y: scroll;
}

.profile-picture-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile-picture-item {
    margin: 10px;
    padding: 10px;
    border: 3px solid transparent;
}

    .profile-picture-item:hover {
        cursor: pointer;
        border: 3px solid #ce0606;
        border-radius: 10px;
    }