body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 75px 15px 75px 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* COMMON */
.icon-success {
    color: green;
}
.icon-failure {
    color: red;
}

.clickable {
    cursor: pointer;
}

.responsive-text {
    font-size: var(--size) !important;
}

.red {
    color: #ce0606 !important;
}

.error-text {
    font-weight: bold;
    font-size: large;
    color: #ce0606;
}

.link.red {
    color: #ce0606;
}

    .link.red:hover {
        color:#a90404
    }


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.full-width {
    width: 100%;
    max-width: 100% !important;
}

.img-xs {
    max-height: 100px;
}

.img-sm {
    max-height: 250px;
}

.profile-picture-modal {
    max-height: 500px;
    overflow-y: scroll;
}

.profile-picture-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile-picture-item {
    margin: 10px;
    padding: 10px;
    border: 3px solid transparent;
}

    .profile-picture-item:hover {
        cursor: pointer;
        border: 3px solid #ce0606;
        border-radius: 10px;
    }

.campaign-list-item {
    padding: 3em;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 90%;
    background-color: #f3f3f3;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}

    .campaign-list-item .campaign-info {
        width: 70%;
    }

        .campaign-list-item .campaign-info .name {
            font-size: 48px;
            border-bottom: 3px solid #ce0606;
        }

        .campaign-list-item .campaign-info .description {
            font-size: large;
            padding-top: 1em;
        }

    .campaign-list-item .date {
        font-size: small;
        align-self: flex-end;
        flex-grow: 1;
    }

    .campaign-list-item .portrait {
        width: 30%;
    }

        .campaign-list-item .portrait img {
            height: 15em;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    .campaign-list-item:hover {
        cursor: pointer;
        box-shadow: 0 0 6px rgba(220, 57, 18, 1);
    }

.content-box {
    padding: 3em;
    margin: 2em auto;
    border-radius: 5px;
    width: 90%;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.2);
}

.content-box.narrow {
    padding: 1em 2em 1em 2em;
}

.content-box > .title {
    font-size: large;
    position: relative;
    top: -10px;
}

.text-large {
    font-size: large;
}

.text-md {
    font-size: medium;
}


#encounterModal .modal-dialog {
    width: 90%;
    height: 90%;
    margin: 30px auto;
    padding: 0;
}

#encounterModal .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    overflow-y: auto;
}

#encounterModal .modal-body {
    height: auto;
    min-height: 100%;
}

.flex-container.center * {
    margin-right: 0.5em;
}
