
@{
    ViewBag.Title = "Monsters";
    ViewBag.MenuOption = "menu_Monsters";
}

<h2>Monsters</h2>

<div class="content-box">
    <form id="monsterForm" enctype="multipart/form-data">
        <div class="flexbox-container items-end">
            <div class="form-group">
                <label>Monsters List</label>
                <input type="file" id="Monsters" name="Monsters" />
            </div>
            <div class="form-group">
                <label>Monsters by Environment</label>
                <input type="file" id="Environments" name="Environments" />
            </div>
            <input class="btn btn-default" type="submit" name="Submit" value="Submit" />
        </div>
    </form>
</div>

@section scripts {
    <script type="text/javascript">
        $('#monsterForm').submit(function () {
            var formdata = new FormData(); //FormData object
            formdata.append($('#Monsters').attr('name'), $('#Monsters')[0].files[0]);
            formdata.append($('#Environments').attr('name'), $('#Environments')[0].files[0]);
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '@Url.Action("UploadMonsterList", "Utility")');
            xhr.responseType = 'json';
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var data = xhr.response;
                    if (data.success) {
                        Notiflix.NotifyContent.Success(data.message);
                    } else {
                        Notiflix.NotifyContent.Failure(data.message);
                    }
                }
            }
            return false;
            ajaxPost($(this).serialize(), '@Url.Action("UploadMonsterList", "Utility")', function (data) {
                if (data.success) {
                    Notiflix.NotifyContent.Success(data.message);
                } else {
                    Notiflix.NotifyContent.Failure(data.message);
                }
            },
            function() {
                Notiflix.NotifyContent.Failure('Unable to upload monsters.');
            })
        })
    </script>
}